{{ $machinetype := promptString "Machine type" -}}
[data]
    machinetype = {{ $machinetype | quote }}
{{ if eq .chezmoi.os "darwin" }}
{{- $gpgemail := promptString "GPG key recipient email" -}}
encryption = "gpg"
[gpg]
    recipient = {{ $gpgemail | quote }}
{{ end -}}
