{{ $machinetype := promptStringOnce . "machinetype" "Machine type (laptop/workstation)" -}}
{{ $defaultshell := promptStringOnce . "defaultshell" "Default shell (bash/zsh/fish)" -}}
{{ $editor := promptStringOnce . "editor" "Default editor (vim/nvim)" -}}
{{ $gpgemail := promptStringOnce . "gpgemail" "GPG key recipient email" -}}

[data]
machinetype = {{ $machinetype | quote }}
athome = {{ promptBoolOnce . "athome" "Is this machine at home" }}
{{- if eq $defaultshell "zsh" }}
enableprezto = {{ promptBoolOnce . "enableprezto" "Enable ZSH Prezto" }}
{{- else }}
enableprezto = false
{{- end }}
defaultshell = {{ $defaultshell | quote }}
editor = {{ $editor | quote }}
tmux = {{ promptBoolOnce . "tmux" "Use Tmux?" }}

{{- if eq .chezmoi.os "darwin" }}
encryption = "gpg"

[gpg]
recipient = {{ $gpgemail | quote }}
{{ end -}}
