[submodule "fzf"]
    path = fzf
    url = https://github.com/junegunn/fzf.git
[submodule "base16-shell"]
    path = base16-shell
    url = https://github.com/chriskempson/base16-shell.git
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/edoardob90/prezto.git
[submodule "tmux/tmux-resurrect"]
	path = tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "dotfiles-manager"]
	path = dotfiles-manager
	url = https://github.com/ssh0/dot
[submodule "vimrc"]
	path = vimrc
	url = https://github.com/edoardob90/vimrc.git
[submodule "tmux/tmux-custom"]
	path = tmux/tmux-custom
	url = https://github.com/edoardob90/tmux
