[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/edoardob90/oh-my-zsh.git
[submodule "tmux"]
    path = tmux
    url = https://github.com/tony/tmux-config.git
[submodule "vendor/tmux-mem-cpu-load"]
    path = tmux/vendor/tmux-mem-cpu-load
    url = git://github.com/thewtex/tmux-mem-cpu-load.git
