#
# Defines environment variables.
#
# Authors:
#   Sorin Ionescu <sorin.ionescu@gmail.com>
#

export ZDOTDIR=${HOME}/.config/zsh

# Ensure that a non-login, non-interactive shell has a defined environment.
if [[ ( "$SHLVL" -eq 1 && ! -o LOGIN ) && -s "${ZDOTDIR:-$HOME}/.zprofile" ]]; then
    source "${ZDOTDIR:-$HOME}/.zprofile"
else
    export EDITOR='nvim'
    export VISUAL='nvim'
    export PAGER='less'
    export LC_ALL='en_US.UTF-8'
    if [[ -z "$LANG" ]]; then
      export LANG='en_US.UTF-8'
    fi
fi

{{if contains "daint" .chezmoi.hostname -}}
# Skip system-wide configuration files
unsetopt GLOBAL_RCS

# On Piz daint, ZSH built-in functions are missing without the following
fpath=( $HOME/local/share/zsh/5.7.1/functions $fpath )

# For sources compiled in ~/local (e.g., Tmux, Zsh)
export PATH=${HOME}/local/bin:${PATH}
export LD_LIBRARY_PATH=${HOME}/local/lib:${LD_LIBRARY_PATH}
{{- end}}
