# ~/.bash_profile
# Contains user specific configurations for the Bourne shell and Bourne compatible shells
#
## set shell: zsh instead of bash
#if case "$-" in *i*) true;; *) false;; esac; then
#    if [ -z "$ZSH_VERSION" ] && type zsh >/dev/null 2>/dev/null; then
#        export SHELL=$(which zsh)
#    else
#        export SHELL=$(which bash)
#    fi
#    exec $SHELL
#fi
#
# LANG
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LC_COLLATE=C

# Editor
export VISUAL=nvim
export EDITOR=nvim
export PAGER=less

# For non-login shells, source .bashrc if running Bash
if [ -n "$BASH_VERSION" ]; then
    [ -f "${HOME}/.bashrc" ] && source "${HOME}/.bashrc"
fi

{{- if eq .chezmoi.os "linux" -}}
{{- if ne .chezmoi.osRelease.id "sles" -}}
# Setup Linuxbrew
BREW="/home/linuxbrew/.linuxbrew/bin/brew"
if type -a "$BREW" 2>&1 >/dev/null; then
    eval "$("$BREW" shellenv)"
fi
{{- end -}}
{{- end }}
