{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "cantino/mcfly"
tap "heroku/brew"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
brew "age"
brew "readline"
brew "bash"
brew "bat"
brew "sqlite"
brew "xz"
brew "python@3.9"
brew "bitwarden-cli"
brew "coreutils"
brew "gettext"
brew "gnu-sed"
brew "tmux"
brew "bzip2"
brew "certbot"
brew "dog"
brew "duf"
brew "dust"
brew "easy-rsa"
brew "eva"
brew "exa"
brew "fd"
brew "unbound"
brew "gnutls"
brew "nghttp2"
brew "ffmpeg"
brew "findutils"
brew "fish"
brew "fontforge"
brew "gawk"
brew "gcc"
brew "gh"
brew "git-delta"
brew "glances"
brew "gnu-getopt"
brew "gnu-indent"
brew "gnu-tar"
brew "gnu-units"
brew "gnupg", link: false
brew "go"
brew "grc"
brew "grep"
brew "htop"
brew "httpie"
brew "hugo"
brew "jq"
brew "jrnl"
brew "lsd"
brew "mackup"
brew "magic-wormhole"
brew "mas"
brew "mdcat"
brew "micro"
brew "neovim"
brew "netcat"
brew "nmap"
brew "node@12"
brew "openssh"
brew "pandoc"
brew "parallel"
brew "pass"
brew "pass-otp"
brew "pinentry-mac"
brew "pygments", link: false
brew "pypy3"
brew "python@3.8"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "ripgrep-all"
brew "screen"
brew "signify-osx"
brew "socat"
brew "vim"
brew "w3m"
brew "wakeonlan"
brew "wget"
brew "yarn"
brew "youtube-dl"
brew "zlib"
brew "cantino/mcfly/mcfly"
brew "heroku/brew/heroku"
brew "pyenv"
cask "adoptopenjdk"
cask "calibre"
cask "clean-me"
cask "corelocationcli"
cask "fontforge"
cask "gpg-suite-no-mail"
cask "kitty"
cask "mattermost"
cask "obsidian"
cask "stretchly"
cask "sublime-text"
cask "vscodium"
cask "xquartz"
EOF
{{ end -}}
