{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "cantino/mcfly"
tap "dart-lang/dart"
tap "heroku/brew"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "jakehilborn/jakehilborn"
tap "sass/sass"
tap "twilio/brew"
brew "age"
brew "bash"
brew "bat"
brew "node"
brew "bitwarden-cli"
brew "blueutil"
brew "bzip2"
brew "gettext"
brew "python@3.9"
brew "python@3.10"
brew "certbot"
brew "chezmoi"
brew "coreutils"
brew "dog"
brew "duf"
brew "dust"
brew "easy-rsa"
brew "eva"
brew "exa"
brew "fd"
brew "unbound"
brew "gnutls"
brew "harfbuzz"
brew "gobject-introspection"
brew "ffmpeg"
brew "findutils"
brew "fish"
brew "fzf"
brew "gawk"
brew "gcc"
brew "geckodriver"
brew "gh"
brew "git-cliff"
brew "git-delta"
brew "glances"
brew "gnu-indent"
brew "gnu-sed"
brew "gnu-tar"
brew "gnu-units"
brew "gnupg", link: false
brew "go"
brew "gping"
brew "grc"
brew "grep"
brew "htop"
brew "httpie"
brew "hugo"
brew "libheif"
brew "imagemagick"
brew "jq"
brew "jrnl"
brew "ldns"
brew "lsd"
brew "mackup"
brew "magic-wormhole"
brew "mas"
brew "mdcat"
brew "micro"
brew "neovim"
brew "netcat"
brew "nghttp2"
brew "nmap"
brew "node@12"
brew "openssh"
brew "pandoc"
brew "pango"
brew "parallel"
brew "pass"
brew "pass-otp"
brew "php"
brew "pinentry-mac"
brew "pnpm"
brew "poetry"
brew "postgresql@14"
brew "procs"
brew "pyenv"
brew "pyenv-virtualenv"
brew "pygments"
brew "pypy3"
brew "python@3.8"
brew "rbenv"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "ripgrep-all"
brew "screen"
brew "sevenzip"
brew "signify-osx"
brew "socat"
brew "speedtest-cli"
brew "squashfs"
brew "subversion"
brew "tmux"
brew "vim"
brew "w3m"
brew "wakeonlan"
brew "wget"
brew "yarn"
brew "youtube-dl"
brew "zlib"
brew "zoxide"
brew "cantino/mcfly/mcfly"
brew "heroku/brew/heroku"
brew "jakehilborn/jakehilborn/displayplacer"
brew "sass/sass/sass"
cask "adoptopenjdk"
cask "alt-tab"
cask "amethyst"
cask "calibre"
cask "font-iosevka-aile"
cask "font-iosevka-etoile"
cask "font-iosevka-nerd-font"
cask "font-karla"
cask "font-roboto-mono-nerd-font"
cask "fontforge"
cask "gpg-suite-no-mail"
cask "kitty"
cask "mattermost"
cask "ngrok"
cask "obsidian"
cask "rectangle"
cask "spotify"
cask "sublime-text"
cask "telegram"
cask "xquartz"
mas "Bear", id: 1091189122
mas "Bitwarden", id: 1352778147
mas "Day One", id: 1055511498
mas "Diarly", id: 1387167765
mas "Drafts", id: 1435957248
mas "iA Writer", id: 775737590
mas "Kindle", id: 405399194
mas "LanguageTool", id: 1534275760
mas "Magnet", id: 441258766
mas "Marked 2", id: 890031187
mas "OneTab", id: 1540160809
mas "Reeder", id: 1529448980
mas "Slack", id: 803453959
mas "Things", id: 904280696
mas "Wipr", id: 1320666476
mas "Xcode", id: 497799835
EOF
{{ end -}}
