Host *
    ServerAliveInterval 60
{{- if eq .chezmoi.os "darwin" }}
    ForwardAgent yes
    AddKeysToAgent yes

Host hpz4
    Hostname 192.168.50.185
    User baed
    Port 9048
    IdentityFile /Users/edoardo/.ssh/z4ws_rsa

Host ela
    Hostname ela.cscs.ch
    User ebaldi
    IdentityFile /Users/edoardo/.ssh/cscs_rsa

Host daint*.cscs.ch
    User ebaldi
    ForwardX11 no
    ForwardAgent yes
    Port 22
    IdentityFile /Users/edoardo/.ssh/cscs_rsa
    ProxyJump %r@ela.cscs.ch

Host euler.ethz.ch
    User ebaldi
    IdentityFile ~/.ssh/ethz_euler_ed25519

Host rbpi-ubuntu
    Hostname 192.168.50.179
    User ubuntu
    IdentityFile ~/.ssh/rbpi4
    Port 7888
    ForwardX11 no
    ForwardAgent no

Host router
    Hostname 192.168.50.1
    User heimdall
    Port 4518
    IdentityFile ~/.ssh/asus_router

Host pollux-vm
    Hostname 148.187.98.199
    User ubuntu
    IdentityFile ~/.ssh/pollux_cscs_rsa

# GitLab.com
Host gitlab.com
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/gitlab_ed25519
{{- else if contains "daint" .chezmoi.hostname -}}
# Passwordless login on computing nodes
#Host nid0*
#   IdentityFile ~/.ssh/id_rsa
{{- end -}}
