# 1Password SSH agent
{{- if eq .chezmoi.os "darwin" -}}
set -l OP_SSH_SOCK "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else if eq .chezmoi.os "linux" -}}
set -l OP_SSH_SOCK "~/.1password/agent.sock"
{{- end}}
test -S $OP_SSH_SOCK; and set -gx SSH_AUTH_SOCK $OP_SSH_SOCK
